# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized
*.js text
*.ts text
*.json text
*.md text
*.txt text
*.yml text
*.yaml text
*.xml text
*.html text
*.css text
*.scss text

# These files are binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.svg binary
